@page "/login"

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 pt-2 pb-3">
            <span class="login100-form-title pb-3">
                ورود مدیریت سامانه
            </span>
            <form class="login100-form validate-form">

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input id="input100-username" class="input100" type="text" name="username" placeholder="نام کاربری">
                    <span class="focus-input100" data-placeholder="">
                        <i class="fa fa-lg fa-user pr-2" style="padding-top: 36px">
                        </i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input id="input100-password" class="input100" type="password" name="pass" placeholder="رمز عبور">
                    <span class="focus-input100" data-placeholder="">
                        <i class="fa fa-lg fa-lock pr-2" style="padding-top: 36px">
                        </i>
                    </span>
                </div>

                <div class="container-login100-form-btn mt-3 pb-3">
                    <button class="login100-form-btn">
                        ورود
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

@code {

}
