@inject IJSRuntime JsRuntime


<div class="container">
    <div class="row header" style="margin:0;padding:0;width:100%">
        <div class="col" style="margin:0;padding:0;width:100%">
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo">
                    <a href="#"><img src="images/logo.png" alt=""></a>
                </div>
                <nav class="main_nav">
                    <ul>
                        <li class="active"><a href="index.html">خانه</a></li>
                        <li><a href="./Admin/Dormitories">مدیریت خوابگاه‌ها</a></li>
                        <li><a href="./Admin/Rooms">مدیریت اتاق‌ها</a></li>
                        <li><a href="./#">مدیریت تبلیغات</a></li>
                    </ul>
                </nav>
                <div class="phone_num ml-auto">
                    <div class="phone_num_inner">
                        <span>652-345 3222 11</span><img src="images/phone.png" alt="">
                    </div>
                </div>
                <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("pageInitialization.initiate");
        }
    }
}
