<div class="row mx-0" style="background-image:url(images/city_4.jpg);height: 100%;background-repeat: no-repeat;background-size: cover;">
    <div class="col">
        <div class="home_subtitle">super offer</div>
        <div class="home_title">Villa with sea view</div>
        <RoomSlide />
        <div class="home_price">$ 1. 245 999</div>
    </div>
</div>
