@layout LoginLayout
@inject IJSRuntime JsRuntime


<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text cursor-pointer" id="persian-date"></span>
    </div>
    <input type="text" id="input-persian-date" class="form-control"
           placeholder="" aria-label="persian-date"
           aria-describedby="persian-date">
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("datepicker.initiate");
        }
    }

}
